body {
  background-color: #1c1c1c;
  color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
}

h1 {
  font-weight: 500;
  margin-bottom: 50px;
  color: #ffffff;
}

#sentence {
  font-size: 1.2em;
  line-height: 1.5;
  color: #adb5bd;
}

input,
button {
  border: none;
  height: 50px;
  font-size: 1.1em;
}

#input {
  color: #f8f9fa;
  background-color: #343a40;
  margin-bottom: 20px;
}

#input::placeholder {
  color: #ced4da;
}

#start {
  width: 20%;
  background-color: #17a2b8;
  color: #f8f9fa;
  margin-bottom: 20px;
  border: none;
}

#start:hover {
  background-color: #138496;
}

#result,
#timer {
  font-size: 1.2em;
  color: #f8f9fa;
}

.correct {
  color: rgb(119, 206, 119)
}

.wrong {
  color: rgb(202, 119, 119)
}